/*Utilizamos el selector de etiqueta body para establecer el box-sizing y tipo de letra de nuestro documento*/
body {
  box-sizing: border-box;
  font-family: "Roboto Slab", monospace;
}
/*Utilizamos el selector de etiqueta h3 para establecer su color y margen inferior*/
h3 {
  color: #262b30;
  margin-bottom: 10px;
}
/*Utilizamos el selector de clase .partial-line para definir una línea horizontal parcial debajo de nuestro heading */
.partial-line {
  width: 70px;
  height: 5px;
  background-color: #262b30;
  margin-bottom: 20px;
}
/*Utilizamos el selector de clase .image, que contiene un elemento img y span, para establecer su display y posición*/
.image {
  display: inline-block;
  position: relative;
}
/*Utilizamos un selector descendente (de etiqueta div y img) para establecer el ancho de nuestras imágenes y darles un filtro de contraste*/
div img {
  width: 220px;
  filter: contrast(40%);
}
/*Utilizamos un selector descendente (de clase .image y de etiqueta span) para establecer la posición del texto contenido en nuestras imágenes. Previamente le dimos position relative a .image así que los elementos span tomarán de referencia esas secciones del documento que los contienen respectivamente*/
.image span {
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: white;
}
